.card {
    --font-color: #323232;
    --bg-color: #e0e0e0;
    width: 250px;
    height: 350px;  
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: -9px 9px 18px #443355,
                9px -9px 18px #9e5ede;
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
  }
  
  .card__img {
    object-fit: contain !important;
    border-radius: 20px 20px 0 0;
    background-color: white;
  }

  .card__img img {
    border-radius: 16px 16px 0 0;
    max-width: 100%;
    max-height: 100%;
  }
  
  .card__descr-wrapper {
    padding: 15px;
    display: grid;
  }
  
  .card__title {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900; 
    font-size: 16px;
  }
  
  .card__descr {
    color: var(--font-color);
  }
  
  .card__links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  }
  
  .card__links .link {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
  }
  
  .card__links .link:hover {
    text-decoration: underline;
  }
  